<router-outlet></router-outlet>
<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="text-muted contenido-footer">Created by <a href="https://primerocomunico.github.io/portfolio/" target="_blank">Sergio GES Escobar</a></span>
        <span class="text-muted contenido-footer"> | Powered by <i class="fab fa-github-square"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-html5"></i> <i class="fab fa-js-square"> <i class="fab fa-angular"></i></i></span>
      </div>
    </div>
  </div>
</footer>
