<div class="espacio-header">

</div>
<div class="container">
  <div class="row">
    <div class="card mb-3 card-post" style="max-width: 540px;" *ngFor="let articulo of _datosDummy.datosDummy; let i = index">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src='{{articulo.imgUrl}}' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><a [routerLink]="['/post/'+i]">{{articulo["title"]}}</a></h4>
            <h6>{{articulo["subtitle"]}}</h6>
            <p><em>{{articulo["author"]}}</em></p>
            <p class="card-text">{{articulo["body"].split(" ").slice(0, 10).join(' ') + '...'}} <a [routerLink]="['/post/'+i]">READ MORE</a></p>
            <p class="card-text"><small class="text-muted">{{timeSince(articulo["date"])}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="espacio-footer">

</div>
